@using Amazon.EntityFramework;
@model List<Footer>
<hr style="color: dimgrey"/>

<footer id="footer">
    <div class="container">
        <ul style="list-style-type:none;" class="nav navbar-nav navbar-left container">

            @foreach (var item in Model.Where(t => t.FooterIDType == 1))
            {
                var child = Model.Where(t => t.FooterIDType == 2 && t.FooterParentID == item.FooterID).ToList();
                var parentClass = child.Count() > 0 ? "class=dropdown-toggle data-toggle=dropdown" : "";

                <div class="col-md-3">
                    <li>
                        <a style="color:white; font-weight:bold; font-size:18px" href="@item.Link" target="@item.Target">@item.Contain</a>
                        @if (child.Count() > 0)
                        {
                            <ul style="list-style-type:none;">
                                @foreach (var childitem in child)
                                {
                                    <li><a style="color:white;font-size:12px" href="@childitem.Link">@childitem.Contain</a></li>
                                }
                            </ul>
                        }
                    </li>
                </div>
            }
        </ul>
        <div class="contain chu">
            <p>&copy; @DateTime.Now.Year - Amazon.com Webshop</p>
        </div>
    </div>
    <a href="#" id="scroll" style="display: none;"><span></span></a>
    <script src="~/Content/JS/TopButton_2.js"></script>
</footer>
