@using Amazon.EntityFramework;
@model List<Menu>
<ul class="nav navbar-nav navbar-left">

    @foreach (var item in Model.Where(t=>t.MenuTypeID==1))
    {
        var child = Model.Where(t=>t.MenuTypeID==2 &&t.MenuParentID == item.MenuID).ToList();
        var parentClass = child.Count() > 0 ? "class=dropdown-toggle data-toggle=dropdown" : "";
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="@item.Properti" href="@item.Link" target="@item.Target"><span class="@item.Icon"></span><span> </span>@item.Text</a>
            @if(child.Count()>0)
            {
                <ul class="dropdown-menu">
                    @foreach(var childitem in child)
                    {
                        <li><a href="@childitem.Link"><span class="@childitem.Icon"></span><span> </span>@childitem.Text</a></li>
                    }
                </ul>
            }
        </li>
    }

</ul>












@*<ul class="nav navbar-nav navbar-left">

        <li>
            <a class="navbar-link"><span class="glyphicon glyphicon-map-marker"></span><b> Deliver to<br />VietNam</b></a>
        </li>
    </ul>
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><b>Department</b> <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Prime Video</a></li>
                <li><a href="#">Music, CDs & Vinyl  </a></li>
                <li><a href="#">Digital Music</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Browsing History<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#"></a></li>
            </ul>
        </li>
        <li><a href="#">Tran's Amazon.com</a></li>
        <li><a href="#">Today's Deals</a></li>
        <li><a href="#">Gift Cards</a></li>

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Hello, name<br /><b>Account & Lists</b> <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a class="btn btn-warning href="#">Login</a></li>
                <li><a href="#">Registry</a></li>
            </ul>
        </li>
        <li><a href="#"><b>Orders</b></a></li>
        <li><a class="navbar-link" href="@Url.Action("Index","Cart")"><span class="glyphicon glyphicon-shopping-cart"></span><b> Cart</b></a></li>
    </ul>*@



