@model List<Amazon.DTO.ProductDTO>
@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Views/Shared/Layout.cshtml";
   // var ListProductType = (List<Amazon.EntityFramework.Ref_Product_Types>)ViewBag.ProductType;
}

<div style="height:100%" class="contain">


    @*<div style="float:left;height:100vh; background-color:darkgray" class="col left">
        <h2>Featured Category</h2>
        <ul>
            @foreach (var item in ListProductType)
            {
                <li><a href="@Url.Action("Index","Product",new {typeID=item.product_type_code})">@item.product_type_description</a></li>

            }

        </ul>
    </div>*@
    <div class="row">
        
        @foreach (var item in Model)
        {
            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">

                        <a href="@Url.Action("Show","Product",new {id=item.product_id })">
                            <img class="pic-1" src="@item.product_imge">
                        </a>
                    </div>

                    <div class="product-content">
                        <h3 class="title"><a href="#">@item.product_name</a></h3>
                        <div class="price">

                            <span>$@item.product_price</span>
                        </div>

                    </div>

                </div>
            </div>

        }
        <hr />
    </div>
</div>