@model List<Amazon.DTO.ProductDTO>
@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Views/Shared/Layout.cshtml";
    var ListProductType = (List<Amazon.DTO.Ref_Product_TypesDTO>)ViewBag.ProductType;
}
<style>
    #text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: small;
    }
</style>
<div class="row">
    <div style="height:100%" class="contain">
        @*<div id="left-sidebar" style="float:left;height:100vh; background-color:darkgray" class="col-md-3">*@
        <div class="panel-group col-md-3" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Featured Category</h2>
                    <div class="panel-body">
                        <table class="table table-striped">
                            @foreach (var item in ListProductType)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("Index","Product",new {typeID=item.product_type_code})">@item.product_type_description</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!---->
        <div class="col-md-9">
            <div id="content" class="row">
                <!---->
                @foreach (var item in Model)
                {
                    <div class="col-md-3 col-sm-6">
                        <div class="card text-center jumbotron">
                            <div class="card-img-top">
                                <a href="@Url.Action("Show","Product",new {id=item.product_id, name=item.product_name })">
                                    <img width="100" height="150" class="pic-1" src="@item.product_imge">
                                </a>
                            </div>

                            <div class="card-body">
                                <h3 class="card-title"><a href="#">@item.product_name</a></h3>
                                <div class="card-text">
                                    <p title="@item.product_description" id="text">@item.product_description</p>
                                    <span>$@item.product_price</span>
                                </div>
                                <a href="@Url.Action("Show","Product",new {id=item.product_id, name=item.product_name })" class="btn btn-primary">Details</a>

                            </div>

                        </div>
                    </div>
                    <!--end-->
                }
                <hr />
            </div>
        </div>
    </div>
</div>

